<div class="Hero">
  <div>Breakfast-link</div>
  <div>Lunch-link</div>
  <div>Dinner-link</div>
  <div>Dessert-link</div>
  <div>Snack-link</div>
</div>
<div class="display-meals">
  <div>display-Breakfast</div>
  <div>display-Lunch</div>
  <div>display-Dinner</div>
  <div>display-Dessert</div>
  <div>display-Snack</div>
</div>
