<div class="meal-links">
  <div class="logo">
    FeedMe
  </div>
  <ul class="entree">
    <li>Breakfast</li>
    <li>Brunch</li>
    <li>Lunch</li>
    <li>Dinner</li>
  </ul>
  <ul class="nontree">
    <li>Dessert</li>
    <li>Snack</li>
  </ul>
</div>
<div class="info">
  <h1>HangChoPa (Hangry Choice Paralysis) is no fun</h1>
  <div class="info-wrapper">
    <div class="info-boxes">
      <img src="" alt="">
      <p>Act like the only option is the one we give you</p>
    </div>
    <div class="info-boxes">
      <img src="" alt="">
      <p>We have all the choices, but choosing one at a time feels easier</p>
    </div>
    <div class="info-boxes">
      <img src="" alt="">
      <p>You'll be surprised at what looks good when you only have one choice</p>
    </div>
  </div>
</div>
<div class="text-wrapper">
  <h1>Are you paralyzed by all the recipe choices?</h1>
  <p>Nobody likes to decide what to cook. Even if you enjoy cooking, trying to pick the menu for the day/week is a pain. Any meal, breakfast to snacks, you can sidestep that Choice Paralysis and just cook what we tell you to. Want something right now? Give that easy-peasy box a check. Bagged chicken nuggets are still food. Don't like a recipe we give you? Click again! Still easier to decide if you like one recipe instead of picking from all the recipes.</p>
</div>
<div class="meal-display">
  <h1>Weekly Featured Recipe</h1>
  <ul>
  <div>
    <p>Top box</p>
    <p>Bottom Box</p>
  </div>
  <div>
    <p>Top Box</p>
    <p>Bottom Box</p>
  </div>
  <div>
    <p>Top Box</p>
    <p>Bottom Box</p>
  </div>
</div>
<div class="text-wrapper">
  <h1>Text area</h1>
</div>
<div class="meal-display">
  <ul>
    <li>Breakfast-display</li>
    <li>Lunch-display</li>
    <li>Dinner-display</li>
    <li>Dessert-display</li>
    <li>Snack-display</li>
  </ul>
</div>
