<div class="meal-links">
  <div class="logo">
    FeedMe
  </div>
  <ul class="entree">
    <li>Breakfast</li>
    <li>Brunch</li>
    <li>Lunch</li>
    <li>Dinner</li>
  </ul>
  <ul class="nontree">
    <li>Dessert</li>
    <li>Snack</li>
  </ul>
</div>
<div class="info-wrapper">
  <div>
    <p>Top box</p>
    <p>Bottom Box</p>
  </div>
  <div>
    <p>Top Box</p>
    <p>Bottom Box</p>
  </div>
  <div>
    <p>Top Box</p>
    <p>Bottom Box</p>
  </div>
</div>
<div class="text-wrapper">
  <h1>Text area</h1>
</div>
<div class="meal-display">
  <ul>
    <li>Breakfast-display</li>
    <li>Lunch-display</li>
    <li>Dinner-display</li>
    <li>Dessert-display</li>
    <li>Snack-display</li>
  </ul>
</div>
