<header>
  <div class="flex-wrapper">
    <div class="logo">Logo
    </div>
    <div class="links">
      <ul>
        <li>Home</li>
        <li>Profile</li>
        <li>About</li>
      </ul>
    </div>
  </div>
</header>
<style>
  header{
    width: 100%;
    position: fixed;
    margin-bottom: 1rem;
    min-height: 48px;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .links ul{
    display:flex;
    list-style-type: none;
    gap: 35px;
    z-index: 1000;
    margin: 0;
    padding: 0;
    color: red;
    background-color: black;
  }

  .logo {
  }
</style>
