<header>
  <div class="flex-wrapper">
    <div class="logo">FeedMe
    </div>
    <div class="links">
      <ul>
        <li>Home</li>
        <li>Profile</li>
        <li>About</li>
      </ul>
    </div>
  </div>
</header>
