/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /* BODY */
body {
  font-family: Roboto, Arial, sans-serif; 
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url(Background.jpg) center fixed;
  background-size: cover;
  text-align: center;
 }


  /* HEADER */
.header{
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  min-height: 7vh;
  max-height: 7vh;
  border-bottom: .1vh solid azure;
 }

.header.active {
  background: white;
  color: black;
 }

.flex-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  margin: 0;
  font-size: 25px;
 }

.flex-wrapper div:hover {
  border-bottom: .25vh solid white;
  max-height: 5vh;
  padding-top: .8vh;
  padding-bottom: 1.7vh
 }

.flex-wrapper.active div:hover {
  border-bottom: .25vh solid black;
  max-height: 7vh;
  padding-top: .8vh;
  padding-bottom: 1.7vh
 }

  /* Content */
.content {
  margin-top: var(--header-min-height, 7vh);
 }

.meal-links {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
 }

  
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14vh;
  margin-right: 0;
  font-size: clamp(10vw, 20vh, 20vw);
 }
  
.meal-options {
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
  margin-top: 4vh;
  gap: 1vw;
 }

.entree, .nontree{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4vw;
  padding: 0;
  font-size: clamp(.5rem,1.875rem,1.875rem);
 }

.entree {
  flex-wrap: wrap;
  row-gap: 30px;
 }

.nontree {
  margin: 0;
 }

.meal-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: .1rem solid white;
  height: 6vh;
  min-height: 60px;
  width: 10vw;
  min-width: 130px;
 }

.info {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  justify-content: center;
  background: white;
  color: rgb(126, 126, 126);
  padding-bottom: 10vh;
 }

.info > h1 {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
  justify-content: center;
  align-items: center;

 }

.info-wrapper {
  display: flex;
  justify-content: center;
  font-size: 18px;
  gap: 5vw;
 }

.info-boxes {
  width: 20vw;
 }

 .info-boxes p {
  /* width: 10vw; */
  justify-content: center;
 }

img {
  width: 8vw;
  height: auto;
  /* border: 1px solid black; */
 }

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  gap: 2vw;
  background:rgb(245, 245, 245);
  color: rgb(126, 126, 126);
 }

.text-wrapper  h1 {
  /* padding: 0; */
  max-width: 30vw;
  font-size: clamp(.01rem,2rem,2rem)
 }

.text-wrapper  p {
  max-width: 30vw;
  font-size: clamp(.25rem,1rem,1rem);
  line-height: 175%;
  text-align: left;
 }

.meal-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4vh;
 }

.meals-top, .meals-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: center;
  align-items: center;
  list-style: none;
 }

.meal-display img {
  height: 200px;
  width: 350px;
  object-fit: cover;
 }

  /* FOOTER */
footer{
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-top: .1vh solid azure;
 }
