/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  display: flex;
  position: relative;
  flex-direction: column;
  border: .5rem solid black;
  margin: 0;
  margin-top: var(--header-height, 48px);
  height: 1500px;
  background: #1f1f1f;
  color: white;
 }

 .content {
  margin-top: 48px;
 }

    /* HEADER */
 header{
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: fixed;
  right: 0;
  left:0;
  top:0;
  z-index: 1;
  min-height: 48px;
  background: #1f1f1f;
}

.flex-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links ul{
  display:flex;
  list-style-type: none;
  gap: 35px;
  padding: 0;
  margin: 0;
  color: red;
  background-color: black;
}

/* Footer */

footer{
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 32px;
  padding: 0;
  align-items: flex-end;
  position: relative;
}
