/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /* BODY */
 body {
  font-family: Roboto, Arial, sans-serif; 
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url(Background.jpg) center fixed;
  background-size: cover;
  text-align: center;
 }


    /* HEADER */
 header{
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  min-height: 7vh;
  background: #1f1f1f;
  border-bottom: .1vh solid azure;
}

.flex-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  /* padding: 0; */
  margin: 0;
  font-size: 32px;
}

.flex-wrapper div:hover {
  border-bottom: .25vh solid azure;
  padding-top: 1.3vh;
  padding-bottom: 1.7vh
}

  /* Content */
.content {
  margin-top: var(--header-min-height, 7vh);
  min-height: 100vh;
 }

 .meal-links {
   display: flex;
   flex-direction: column;
   min-height: 60vh;
   padding-bottom: 26vh;

   /* margin-bottom: 25vh; */
   /* background: black; */
  }
  #checkbox {
    margin-right: 1vw;
  }

  .logo {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 40vh;
   margin-top: 8vh;
   margin-right: 0;
   font-size: calc(12px + 20vw)
  }
  

 .entree, .nontree{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4vw;
  padding: 0;
  font-size: 30px;
 }

 .entree {
  flex-wrap: wrap;
  row-gap: 30px;
 }

 .nontree {
  margin: 0;
 }

 .meal-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: .1rem solid white;
  height: 6vh;
  min-height: 60px;
  width: 10vw;
  min-width: 120px;
 }

 .info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background: white;
  color: rgb(126, 126, 126);
  padding-bottom: 10vh;
 }

 .info > h1 {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
  justify-content: center;
  align-items: center;

 }

 .info-wrapper {
  display: flex;
  justify-content: space-evenly;
  /* gap: 100px; */
  font-size: 18px;
 }

 .info-boxes {
  /* border: 1px solid black; */
  width: 30vw;
 }

 img {
  width: 10vw;
  height: 10vw;
  border: 1px solid black;
 }

 .text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  gap: 2vw;
  background:rgb(245, 245, 245);
  color: rgb(126, 126, 126);
 }

 .text-wrapper  h1 {
  padding: 0;
 }

 .text-wrapper p {
  font-size: 20px;
  width: 40vw;
  line-height: 175%;
  text-align: left;
 }

 .meal-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
 }
 .meal-display ul{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  list-style: none;
 }

 .meal-display img {
  height: 360px;
  width: 360px;
 }

  /* FOOTER */
footer{
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 32px;
  padding: 0;
}
