<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/header/default" %>
    <%= render "layouts/current_page" %>
    <%= render "layouts/footer/default" %>
  </body>
</html>
